/* 
    
    Author: Heaven Frazier
    Date: 3/28/2024
    Time: 1:48

    Filename: home.css
    
*/

/* Main Styles */

#main {
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
}

/* Description Styles */

#description > p {
    display: block;
    margin-left: 800px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
}

#description > p > a {
    display: block;
    float: right;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    font-size: 15px;
    margin-top: -55px;
    margin-right: 30px;
    width: fit-content;
}

#description > p > a:link, #description > p > a:visited {
    color: white;
    text-decoration: none;
}

#description > p > a:hover {
    color: red;
}

/* Picture Styles */

#picture > img, #picture > cite {
    display: block;
    float: left;
}

#picture > img {
    height: 395px;
    width: 720px;
    margin: 30px 30px 0px 30px;
    padding: 0px;
}

#picture > cite {
    clear: both;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 15px;
}
